<div class="container-fluid">
    <h1 style="display: inline;" class="mat-h1">Welcome To DG-Gram !!!</h1> 

    <div class="row mt-3">
        <div class="col-6">
            <div class="card" >
                <img class="card-img-top" src="assets/images/logo.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Important</h5>
                  <p class="card-text">Click below button to explore important storis</p>
                  <a routerLink="/dashboard" class="btn btn-primary">Dashboard</a>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card" >
                <!-- <img class="card-img-top" src="assets/images/gov.jpg" alt="Card image cap"> -->
                  <h5 class="card-title">Latest Notifications</h5>
                  <marquee scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()" width="225" height="350" align="center" direction="up" style="background: #f0f1f3; border: 1px solid  #e5e5e5;padding: 10px;text-align: justify; width: fit-content;
                  height: 45vh;">
                    <a href="https://ibpsonline.ibps.in/vcblpooct22/" style="color:#2D3135;font-size:13px;text-decoration: none;" target="_blank">VCBL – Appointment to the Post of Probationary Officers (Deputy Managers) - Batch No. IV – Registration starts from 14-Nov-2022. Click here to register.</a><hr><a href="https://ibpsonline.ibps.in/igmmusep22/" style="color:#2D3135;font-size:13px;text-decoration: none;" target="_blank">IGM Mumbai – Recruitment of various posts – Registration starts from 05-Nov-2022. Click here to register.</a>
                    </marquee>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <div class="card" >
              <img src="https://w.bookcdn.com/weather/picture/7_32469_1_1_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=42182&domid=w209&anc_id=11649"  alt="booked.net"/>
                <div class="card-body">
                  <h3 class="card-title">Weather Forcast </h3>
                <!-- weather widget start --><a target="_blank" href="https://www.booked.net/weather/nagpur-32469">Detail Weather Information</a><!-- weather widget end -->
              </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card" >
              <img class="card-img-top" src="assets/images/mandi.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Crop Prices</h3>
                   <p>कापूस  : Rs.7850</p>
                   <p>हरभरा  : Rs.4650</p>
                   <p>तूर     : Rs.8650</p>
                   <p>सोयाबिन : Rs.7850</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile  [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
            Important !!!
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="dashboard-card-content">
                <div><button class="ok-cancel" (click)="callDashboard()">Check All</button>
                </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile  [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>
                First
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                  dfg
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                    sec
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                      
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>

                <mat-grid-tile  [colspan]="1" [rowspan]="1">
                    <mat-card class="dashboard-card">
                        <mat-card-header>
                          <mat-card-title>
                        thir
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                          
                        </mat-card-content>
                      </mat-card>
                    </mat-grid-tile>
        </mat-grid-list> -->
