<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
     >
    <mat-toolbar>Menu</mat-toolbar>

    <!-- For Mobile Resolutions -->
    <mat-nav-list>
      <a
				mat-list-item
				routerLink="/"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				(click)="drawer.toggle()"
				>Home</a
			>
			<a mat-list-item routerLink="/about" routerLinkActive="active-link" (click)="drawer.toggle()"
				>About Us</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- For Laptop/PC Resolutions -->
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DG Gram</span>
      <span class="spacer"></span>
      <div [class.hidden]="isHandset$ | async">
				<a
					mat-button
					routerLink="/"
					routerLinkActive="active-link"
					[routerLinkActiveOptions]="{ exact: true }"
					>Home</a
				>
				<a mat-button routerLink="/about" routerLinkActive="active-link">About Us</a>
			</div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
