/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.grid-container {
	margin: 20px;
}

.err_msg{
	color: red;
	font-style: italic;
  }

  .ok-cancel{
    background-color: #3f51b5;
      border-width: 1px;
      font-size: 15px;
      color: white;
      border-radius: 53px;
      border-color: transparent;
  }


  .grid-container {
	margin: 20px;
  }
  
  .dashboard-card {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
  }
  
  .more-button {
	position: absolute;
	top: 5px;
	right: 10px;
  }
  
  .dashboard-card-content {
	text-align: center;
	
  }
  
  .right-align{
	float: right;
	background-color: #3f51b5;
	  border-width: 2px;
	  font-size: 20px;
	  color: white;
	  border-radius: 5px;
	  border-color: transparent;
  }
